
#Created by Constraints Editor (xc7a100tl-csg324-2l) - 2019/11/29
NET "main_clk" TNM_NET = main_clk;
TIMESPEC TS_main_clk = PERIOD "main_clk" 10 ns HIGH 50%;
NET "cu/curr_state_FSM_FFd1" TNM_NET = cu/curr_state_FSM_FFd1;
NET "cu/curr_state_FSM_FFd2" TNM_NET = cu/curr_state_FSM_FFd2;
NET "cu/curr_state_FSM_FFd3" TNM_NET = cu/curr_state_FSM_FFd3;
NET "cu/edge_detect<0>" TNM_NET = cu/edge_detect<0>;
NET "cu/watch_dog/tc" TNM_NET = cu/watch_dog/tc;
NET "cu/edge_detect<1>" TNM_NET = cu/edge_detect<1>;




NET "system_ready" LOC = T8;
NET "ind_outd_sw" LOC = U9;
NET "reset" LOC = T16;
NET "main_clk" LOC = E3;
NET "lcd_enable" LOC = B13;
NET "lcd_rs" LOC = F14;
NET "lcd_rw" LOC = D17;
NET "tmp_sensor" LOC = K2;
NET "lcd_data[7]" LOC = G14;
NET "lcd_data[6]" LOC = P15;
NET "lcd_data[5]" LOC = V11;
NET "lcd_data[4]" LOC = V15;
NET "lcd_data[3]" LOC = K16;
NET "lcd_data[2]" LOC = R16;
NET "lcd_data[1]" LOC = T9;
NET "lcd_data[0]" LOC = U11;


NET "tmp_sensor" IOSTANDARD = LVCMOS18;


NET "main_clk" IOSTANDARD = LVCMOS18;


NET "lcd_data[7]" IOSTANDARD = LVCMOS18;
NET "lcd_data[6]" IOSTANDARD = LVCMOS18;
NET "lcd_data[5]" IOSTANDARD = LVCMOS18;
NET "lcd_data[4]" IOSTANDARD = LVCMOS18;
NET "lcd_data[3]" IOSTANDARD = LVCMOS18;
NET "lcd_data[2]" IOSTANDARD = LVCMOS18;
NET "lcd_data[1]" IOSTANDARD = LVCMOS18;
NET "lcd_data[0]" IOSTANDARD = LVCMOS18;
NET "ind_outd_sw" IOSTANDARD = LVCMOS18;
NET "lcd_enable" IOSTANDARD = LVCMOS18;
NET "lcd_rs" IOSTANDARD = LVCMOS18;
NET "lcd_rw" IOSTANDARD = LVCMOS18;
NET "reset" IOSTANDARD = LVCMOS18;
NET "system_ready" IOSTANDARD = LVCMOS18;
#Created by Constraints Editor (xc7a100tl-csg324-2l) - 2019/11/29
NET "ind_outd_sw" OFFSET = IN 1 us VALID 1 us BEFORE "main_clk" RISING;
NET "reset" OFFSET = IN 1 us VALID 1 us BEFORE "main_clk" RISING;
