//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 29 18:59:58 2019
//! **************************************************************************

SCHEMATIC START;
COMP "main_clk" LOCATE = SITE "E3" LEVEL 1;
COMP "reset" LOCATE = SITE "T16" LEVEL 1;
COMP "lcd_data<2>" LOCATE = SITE "R16" LEVEL 1;
COMP "lcd_data<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "lcd_data<4>" LOCATE = SITE "V15" LEVEL 1;
COMP "lcd_data<3>" LOCATE = SITE "K16" LEVEL 1;
COMP "lcd_data<0>" LOCATE = SITE "U11" LEVEL 1;
COMP "lcd_data<6>" LOCATE = SITE "P15" LEVEL 1;
COMP "lcd_data<5>" LOCATE = SITE "V11" LEVEL 1;
COMP "lcd_data<7>" LOCATE = SITE "G14" LEVEL 1;
COMP "ind_outd_sw" LOCATE = SITE "U9" LEVEL 1;
COMP "tmp_sensor" LOCATE = SITE "K2" LEVEL 1;
COMP "lcd_rs" LOCATE = SITE "F14" LEVEL 1;
COMP "lcd_rw" LOCATE = SITE "D17" LEVEL 1;
COMP "system_ready" LOCATE = SITE "T8" LEVEL 1;
COMP "lcd_enable" LOCATE = SITE "B13" LEVEL 1;
TIMEGRP cu/curr_state_FSM_FFd1 = BEL
        "interface_lcd/clk_enable_unit/clk_enable" BEL
        "interface_lcd/clk_enable_unit/count_0" BEL
        "interface_lcd/clk_enable_unit/count_1" BEL
        "interface_lcd/clk_enable_unit/count_2" BEL
        "interface_lcd/clk_enable_unit/count_3" BEL
        "interface_lcd/clk_enable_unit/count_4" BEL
        "interface_lcd/clk_enable_unit/count_5" BEL
        "interface_lcd/clk_enable_unit/count_6" BEL
        "interface_lcd/clk_enable_unit/count_7" BEL
        "interface_lcd/clk_enable_unit/count_8" BEL
        "interface_lcd/clk_enable_unit/count_9" BEL
        "interface_lcd/clk_enable_unit/count_10" BEL
        "interface_lcd/clk_enable_unit/count_11" BEL
        "interface_lcd/clk_enable_unit/count_12" BEL
        "interface_lcd/clk_enable_unit/count_13" BEL
        "interface_tmp_sensor/state_FSM_FFd1" BEL
        "interface_tmp_sensor/state_FSM_FFd2" BEL
        "interface_tmp_sensor/state_FSM_FFd3" BEL
        "interface_tmp_sensor/state_FSM_FFd4" BEL
        "interface_tmp_sensor/cnt_wr_3" BEL "interface_tmp_sensor/cnt_wr_2"
        BEL "interface_tmp_sensor/cnt_wr_1" BEL
        "interface_tmp_sensor/cnt_wr_0" BEL "interface_tmp_sensor/cnt_add_3"
        BEL "interface_tmp_sensor/cnt_add_2" BEL
        "interface_tmp_sensor/cnt_add_1" BEL "interface_tmp_sensor/cnt_add_0"
        BEL "interface_tmp_sensor/cnt_rd_FSM_FFd2" BEL
        "interface_tmp_sensor/write_high_cnt_FSM_FFd1" BEL
        "interface_tmp_sensor/cnt_rd_FSM_FFd1" BEL
        "interface_tmp_sensor/write_high_cnt_FSM_FFd2" BEL
        "interface_tmp_sensor/write_flag_FSM_FFd1" BEL
        "interface_tmp_sensor/write_low_cnt_FSM_FFd1" BEL
        "interface_tmp_sensor/write_low_cnt_FSM_FFd2" BEL
        "interface_tmp_sensor/write_flag_FSM_FFd2" BEL
        "interface_tmp_sensor/led1" BEL "interface_tmp_sensor/dataout_8" BEL
        "interface_tmp_sensor/dataout_7" BEL "interface_tmp_sensor/dataout_6"
        BEL "interface_tmp_sensor/dataout_5" BEL
        "interface_tmp_sensor/dataout_4" BEL "interface_tmp_sensor/dataout_3"
        BEL "interface_tmp_sensor/dataout_2" BEL
        "interface_tmp_sensor/dataout_1" BEL "interface_tmp_sensor/dataout_0"
        BEL "interface_tmp_sensor/cnt_9" BEL "interface_tmp_sensor/cnt_8" BEL
        "interface_tmp_sensor/cnt_7" BEL "interface_tmp_sensor/cnt_6" BEL
        "interface_tmp_sensor/cnt_5" BEL "interface_tmp_sensor/cnt_4" BEL
        "interface_tmp_sensor/cnt_3" BEL "interface_tmp_sensor/cnt_2" BEL
        "interface_tmp_sensor/cnt_1" BEL "interface_tmp_sensor/cnt_0" BEL
        "interface_tmp_sensor/datatemp" BEL
        "interface_tmp_sensor/state[3]_clk_1us_DFF_94" BEL
        "interface_tmp_sensor/get_temp_cnt_3" BEL
        "interface_tmp_sensor/get_temp_cnt_2" BEL
        "interface_tmp_sensor/get_temp_cnt_1" BEL
        "interface_tmp_sensor/get_temp_cnt_0" BEL
        "interface_tmp_sensor/writetemp_6" BEL
        "interface_tmp_sensor/writetemp_4" BEL
        "interface_tmp_sensor/writetemp_3" BEL
        "interface_tmp_sensor/writetemp_2" BEL
        "interface_tmp_sensor/writetemp_1" BEL
        "interface_tmp_sensor/writetemp_0" BEL
        "interface_tmp_sensor/detect_done" BEL
        "interface_tmp_sensor/search_time" BEL "interface_tmp_sensor/dq" BEL
        "cu/curr_state_FSM_FFd1" BEL "cu/curr_state_FSM_FFd2" BEL
        "cu/curr_state_FSM_FFd3" BEL "cu/in_out_val" BEL "cu/watch_dog/cnt_8"
        BEL "cu/watch_dog/cnt_7" BEL "cu/watch_dog/cnt_6" BEL
        "cu/watch_dog/cnt_5" BEL "cu/watch_dog/cnt_4" BEL "cu/watch_dog/cnt_3"
        BEL "cu/watch_dog/cnt_2" BEL "cu/watch_dog/cnt_1" BEL
        "cu/watch_dog/cnt_0" BEL "cu/watch_dog/tc" BEL
        "interface_lcd/translate_int/counter_select/cnt_2" BEL
        "interface_lcd/translate_int/counter_select/cnt_1" BEL
        "interface_lcd/translate_int/counter_select/cnt_0" BEL
        "interface_lcd/interface/init_count_1" BEL
        "interface_lcd/interface/init_count_0" BEL
        "interface_lcd/interface/state_FSM_FFd1" BEL
        "interface_lcd/interface/state_FSM_FFd2" BEL
        "interface_lcd/interface/state_FSM_FFd3" BEL
        "interface_lcd/interface/state_FSM_FFd4" BEL
        "interface_lcd/interface/RS" BEL "interface_lcd/interface/done" BEL
        "interface_lcd/interface/writing_counter_3" BEL
        "interface_lcd/interface/writing_counter_2" BEL
        "interface_lcd/interface/writing_counter_1" BEL
        "interface_lcd/interface/writing_counter_0" BEL
        "interface_lcd/interface/enable_translator" BEL
        "interface_lcd/interface/dataOUT_7" BEL
        "interface_lcd/interface/dataOUT_6" BEL
        "interface_lcd/interface/dataOUT_5" BEL
        "interface_lcd/interface/dataOUT_4" BEL
        "interface_lcd/interface/dataOUT_3" BEL
        "interface_lcd/interface/dataOUT_2" BEL
        "interface_lcd/interface/dataOUT_1" BEL
        "interface_lcd/interface/dataOUT_0" BEL "comparison_block/comp/res"
        BEL "comparison_block/state_count/cnt" BEL
        "comparison_block/state_count/tc" BEL
        "comparison_block/min_tmp_reg_out/data_8" BEL
        "comparison_block/min_tmp_reg_out/data_7" BEL
        "comparison_block/min_tmp_reg_out/data_6" BEL
        "comparison_block/min_tmp_reg_out/data_5" BEL
        "comparison_block/min_tmp_reg_out/data_4" BEL
        "comparison_block/min_tmp_reg_out/data_3" BEL
        "comparison_block/min_tmp_reg_out/data_2" BEL
        "comparison_block/min_tmp_reg_out/data_1" BEL
        "comparison_block/min_tmp_reg_out/data_0" BEL
        "comparison_block/max_tmp_reg_out/data_8" BEL
        "comparison_block/max_tmp_reg_out/data_7" BEL
        "comparison_block/max_tmp_reg_out/data_6" BEL
        "comparison_block/max_tmp_reg_out/data_5" BEL
        "comparison_block/max_tmp_reg_out/data_4" BEL
        "comparison_block/max_tmp_reg_out/data_3" BEL
        "comparison_block/max_tmp_reg_out/data_2" BEL
        "comparison_block/max_tmp_reg_out/data_1" BEL
        "comparison_block/max_tmp_reg_out/data_0" BEL
        "comparison_block/min_tmp_reg_ind/data_8" BEL
        "comparison_block/min_tmp_reg_ind/data_7" BEL
        "comparison_block/min_tmp_reg_ind/data_6" BEL
        "comparison_block/min_tmp_reg_ind/data_5" BEL
        "comparison_block/min_tmp_reg_ind/data_4" BEL
        "comparison_block/min_tmp_reg_ind/data_3" BEL
        "comparison_block/min_tmp_reg_ind/data_2" BEL
        "comparison_block/min_tmp_reg_ind/data_1" BEL
        "comparison_block/min_tmp_reg_ind/data_0" BEL
        "comparison_block/max_tmp_reg_ind/data_8" BEL
        "comparison_block/max_tmp_reg_ind/data_7" BEL
        "comparison_block/max_tmp_reg_ind/data_6" BEL
        "comparison_block/max_tmp_reg_ind/data_5" BEL
        "comparison_block/max_tmp_reg_ind/data_4" BEL
        "comparison_block/max_tmp_reg_ind/data_3" BEL
        "comparison_block/max_tmp_reg_ind/data_2" BEL
        "comparison_block/max_tmp_reg_ind/data_1" BEL
        "comparison_block/max_tmp_reg_ind/data_0" BEL
        "comparison_block/curr_tmp_reg/data_8" BEL
        "comparison_block/curr_tmp_reg/data_7" BEL
        "comparison_block/curr_tmp_reg/data_6" BEL
        "comparison_block/curr_tmp_reg/data_5" BEL
        "comparison_block/curr_tmp_reg/data_4" BEL
        "comparison_block/curr_tmp_reg/data_3" BEL
        "comparison_block/curr_tmp_reg/data_2" BEL
        "comparison_block/curr_tmp_reg/data_1" BEL
        "comparison_block/curr_tmp_reg/data_0" BEL "cu/curr_state_FSM_FFd3_1"
        BEL "cu/curr_state_FSM_FFd2_1" BEL "lcd_enable" BEL "system_ready";
TIMEGRP cu/curr_state_FSM_FFd2 = BEL
        "interface_lcd/clk_enable_unit/clk_enable" BEL
        "interface_lcd/clk_enable_unit/count_0" BEL
        "interface_lcd/clk_enable_unit/count_1" BEL
        "interface_lcd/clk_enable_unit/count_2" BEL
        "interface_lcd/clk_enable_unit/count_3" BEL
        "interface_lcd/clk_enable_unit/count_4" BEL
        "interface_lcd/clk_enable_unit/count_5" BEL
        "interface_lcd/clk_enable_unit/count_6" BEL
        "interface_lcd/clk_enable_unit/count_7" BEL
        "interface_lcd/clk_enable_unit/count_8" BEL
        "interface_lcd/clk_enable_unit/count_9" BEL
        "interface_lcd/clk_enable_unit/count_10" BEL
        "interface_lcd/clk_enable_unit/count_11" BEL
        "interface_lcd/clk_enable_unit/count_12" BEL
        "interface_lcd/clk_enable_unit/count_13" BEL "cu/curr_state_FSM_FFd1"
        BEL "cu/curr_state_FSM_FFd2" BEL "cu/curr_state_FSM_FFd3" BEL
        "cu/in_out_val" BEL "interface_lcd/translate_int/counter_select/cnt_2"
        BEL "interface_lcd/translate_int/counter_select/cnt_1" BEL
        "interface_lcd/translate_int/counter_select/cnt_0" BEL
        "interface_lcd/interface/init_count_1" BEL
        "interface_lcd/interface/init_count_0" BEL
        "interface_lcd/interface/state_FSM_FFd1" BEL
        "interface_lcd/interface/state_FSM_FFd2" BEL
        "interface_lcd/interface/state_FSM_FFd3" BEL
        "interface_lcd/interface/state_FSM_FFd4" BEL
        "interface_lcd/interface/RS" BEL "interface_lcd/interface/done" BEL
        "interface_lcd/interface/writing_counter_3" BEL
        "interface_lcd/interface/writing_counter_2" BEL
        "interface_lcd/interface/writing_counter_1" BEL
        "interface_lcd/interface/writing_counter_0" BEL
        "interface_lcd/interface/enable_translator" BEL
        "interface_lcd/interface/dataOUT_7" BEL
        "interface_lcd/interface/dataOUT_6" BEL
        "interface_lcd/interface/dataOUT_5" BEL
        "interface_lcd/interface/dataOUT_4" BEL
        "interface_lcd/interface/dataOUT_3" BEL
        "interface_lcd/interface/dataOUT_2" BEL
        "interface_lcd/interface/dataOUT_1" BEL
        "interface_lcd/interface/dataOUT_0" BEL "comparison_block/comp/res"
        BEL "comparison_block/state_count/cnt" BEL
        "comparison_block/state_count/tc" BEL
        "comparison_block/min_tmp_reg_out/data_8" BEL
        "comparison_block/min_tmp_reg_out/data_7" BEL
        "comparison_block/min_tmp_reg_out/data_6" BEL
        "comparison_block/min_tmp_reg_out/data_5" BEL
        "comparison_block/min_tmp_reg_out/data_4" BEL
        "comparison_block/min_tmp_reg_out/data_3" BEL
        "comparison_block/min_tmp_reg_out/data_2" BEL
        "comparison_block/min_tmp_reg_out/data_1" BEL
        "comparison_block/min_tmp_reg_out/data_0" BEL
        "comparison_block/max_tmp_reg_out/data_8" BEL
        "comparison_block/max_tmp_reg_out/data_7" BEL
        "comparison_block/max_tmp_reg_out/data_6" BEL
        "comparison_block/max_tmp_reg_out/data_5" BEL
        "comparison_block/max_tmp_reg_out/data_4" BEL
        "comparison_block/max_tmp_reg_out/data_3" BEL
        "comparison_block/max_tmp_reg_out/data_2" BEL
        "comparison_block/max_tmp_reg_out/data_1" BEL
        "comparison_block/max_tmp_reg_out/data_0" BEL
        "comparison_block/min_tmp_reg_ind/data_8" BEL
        "comparison_block/min_tmp_reg_ind/data_7" BEL
        "comparison_block/min_tmp_reg_ind/data_6" BEL
        "comparison_block/min_tmp_reg_ind/data_5" BEL
        "comparison_block/min_tmp_reg_ind/data_4" BEL
        "comparison_block/min_tmp_reg_ind/data_3" BEL
        "comparison_block/min_tmp_reg_ind/data_2" BEL
        "comparison_block/min_tmp_reg_ind/data_1" BEL
        "comparison_block/min_tmp_reg_ind/data_0" BEL
        "comparison_block/max_tmp_reg_ind/data_8" BEL
        "comparison_block/max_tmp_reg_ind/data_7" BEL
        "comparison_block/max_tmp_reg_ind/data_6" BEL
        "comparison_block/max_tmp_reg_ind/data_5" BEL
        "comparison_block/max_tmp_reg_ind/data_4" BEL
        "comparison_block/max_tmp_reg_ind/data_3" BEL
        "comparison_block/max_tmp_reg_ind/data_2" BEL
        "comparison_block/max_tmp_reg_ind/data_1" BEL
        "comparison_block/max_tmp_reg_ind/data_0" BEL
        "comparison_block/curr_tmp_reg/data_8" BEL
        "comparison_block/curr_tmp_reg/data_7" BEL
        "comparison_block/curr_tmp_reg/data_6" BEL
        "comparison_block/curr_tmp_reg/data_5" BEL
        "comparison_block/curr_tmp_reg/data_4" BEL
        "comparison_block/curr_tmp_reg/data_3" BEL
        "comparison_block/curr_tmp_reg/data_2" BEL
        "comparison_block/curr_tmp_reg/data_1" BEL
        "comparison_block/curr_tmp_reg/data_0" BEL "cu/curr_state_FSM_FFd3_1"
        BEL "cu/curr_state_FSM_FFd2_1" BEL "lcd_enable" BEL "system_ready";
TIMEGRP cu/curr_state_FSM_FFd3 = BEL
        "interface_lcd/clk_enable_unit/clk_enable" BEL
        "interface_lcd/clk_enable_unit/count_0" BEL
        "interface_lcd/clk_enable_unit/count_1" BEL
        "interface_lcd/clk_enable_unit/count_2" BEL
        "interface_lcd/clk_enable_unit/count_3" BEL
        "interface_lcd/clk_enable_unit/count_4" BEL
        "interface_lcd/clk_enable_unit/count_5" BEL
        "interface_lcd/clk_enable_unit/count_6" BEL
        "interface_lcd/clk_enable_unit/count_7" BEL
        "interface_lcd/clk_enable_unit/count_8" BEL
        "interface_lcd/clk_enable_unit/count_9" BEL
        "interface_lcd/clk_enable_unit/count_10" BEL
        "interface_lcd/clk_enable_unit/count_11" BEL
        "interface_lcd/clk_enable_unit/count_12" BEL
        "interface_lcd/clk_enable_unit/count_13" BEL
        "interface_tmp_sensor/state_FSM_FFd1" BEL
        "interface_tmp_sensor/state_FSM_FFd2" BEL
        "interface_tmp_sensor/state_FSM_FFd3" BEL
        "interface_tmp_sensor/state_FSM_FFd4" BEL
        "interface_tmp_sensor/cnt_wr_3" BEL "interface_tmp_sensor/cnt_wr_2"
        BEL "interface_tmp_sensor/cnt_wr_1" BEL
        "interface_tmp_sensor/cnt_wr_0" BEL "interface_tmp_sensor/cnt_add_3"
        BEL "interface_tmp_sensor/cnt_add_2" BEL
        "interface_tmp_sensor/cnt_add_1" BEL "interface_tmp_sensor/cnt_add_0"
        BEL "interface_tmp_sensor/cnt_rd_FSM_FFd2" BEL
        "interface_tmp_sensor/write_high_cnt_FSM_FFd1" BEL
        "interface_tmp_sensor/cnt_rd_FSM_FFd1" BEL
        "interface_tmp_sensor/write_high_cnt_FSM_FFd2" BEL
        "interface_tmp_sensor/write_flag_FSM_FFd1" BEL
        "interface_tmp_sensor/write_low_cnt_FSM_FFd1" BEL
        "interface_tmp_sensor/write_low_cnt_FSM_FFd2" BEL
        "interface_tmp_sensor/write_flag_FSM_FFd2" BEL
        "interface_tmp_sensor/led1" BEL "interface_tmp_sensor/dataout_8" BEL
        "interface_tmp_sensor/dataout_7" BEL "interface_tmp_sensor/dataout_6"
        BEL "interface_tmp_sensor/dataout_5" BEL
        "interface_tmp_sensor/dataout_4" BEL "interface_tmp_sensor/dataout_3"
        BEL "interface_tmp_sensor/dataout_2" BEL
        "interface_tmp_sensor/dataout_1" BEL "interface_tmp_sensor/dataout_0"
        BEL "interface_tmp_sensor/cnt_9" BEL "interface_tmp_sensor/cnt_8" BEL
        "interface_tmp_sensor/cnt_7" BEL "interface_tmp_sensor/cnt_6" BEL
        "interface_tmp_sensor/cnt_5" BEL "interface_tmp_sensor/cnt_4" BEL
        "interface_tmp_sensor/cnt_3" BEL "interface_tmp_sensor/cnt_2" BEL
        "interface_tmp_sensor/cnt_1" BEL "interface_tmp_sensor/cnt_0" BEL
        "interface_tmp_sensor/datatemp" BEL
        "interface_tmp_sensor/state[3]_clk_1us_DFF_94" BEL
        "interface_tmp_sensor/get_temp_cnt_3" BEL
        "interface_tmp_sensor/get_temp_cnt_2" BEL
        "interface_tmp_sensor/get_temp_cnt_1" BEL
        "interface_tmp_sensor/get_temp_cnt_0" BEL
        "interface_tmp_sensor/writetemp_6" BEL
        "interface_tmp_sensor/writetemp_4" BEL
        "interface_tmp_sensor/writetemp_3" BEL
        "interface_tmp_sensor/writetemp_2" BEL
        "interface_tmp_sensor/writetemp_1" BEL
        "interface_tmp_sensor/writetemp_0" BEL
        "interface_tmp_sensor/detect_done" BEL
        "interface_tmp_sensor/search_time" BEL "interface_tmp_sensor/dq" BEL
        "cu/curr_state_FSM_FFd1" BEL "cu/curr_state_FSM_FFd2" BEL
        "cu/curr_state_FSM_FFd3" BEL "cu/in_out_val" BEL "cu/watch_dog/cnt_8"
        BEL "cu/watch_dog/cnt_7" BEL "cu/watch_dog/cnt_6" BEL
        "cu/watch_dog/cnt_5" BEL "cu/watch_dog/cnt_4" BEL "cu/watch_dog/cnt_3"
        BEL "cu/watch_dog/cnt_2" BEL "cu/watch_dog/cnt_1" BEL
        "cu/watch_dog/cnt_0" BEL "cu/watch_dog/tc" BEL
        "interface_lcd/translate_int/counter_select/cnt_2" BEL
        "interface_lcd/translate_int/counter_select/cnt_1" BEL
        "interface_lcd/translate_int/counter_select/cnt_0" BEL
        "interface_lcd/interface/init_count_1" BEL
        "interface_lcd/interface/init_count_0" BEL
        "interface_lcd/interface/state_FSM_FFd1" BEL
        "interface_lcd/interface/state_FSM_FFd2" BEL
        "interface_lcd/interface/state_FSM_FFd3" BEL
        "interface_lcd/interface/state_FSM_FFd4" BEL
        "interface_lcd/interface/RS" BEL "interface_lcd/interface/done" BEL
        "interface_lcd/interface/writing_counter_3" BEL
        "interface_lcd/interface/writing_counter_2" BEL
        "interface_lcd/interface/writing_counter_1" BEL
        "interface_lcd/interface/writing_counter_0" BEL
        "interface_lcd/interface/enable_translator" BEL
        "interface_lcd/interface/dataOUT_7" BEL
        "interface_lcd/interface/dataOUT_6" BEL
        "interface_lcd/interface/dataOUT_5" BEL
        "interface_lcd/interface/dataOUT_4" BEL
        "interface_lcd/interface/dataOUT_3" BEL
        "interface_lcd/interface/dataOUT_2" BEL
        "interface_lcd/interface/dataOUT_1" BEL
        "interface_lcd/interface/dataOUT_0" BEL "comparison_block/comp/res"
        BEL "comparison_block/state_count/cnt" BEL
        "comparison_block/state_count/tc" BEL
        "comparison_block/min_tmp_reg_out/data_8" BEL
        "comparison_block/min_tmp_reg_out/data_7" BEL
        "comparison_block/min_tmp_reg_out/data_6" BEL
        "comparison_block/min_tmp_reg_out/data_5" BEL
        "comparison_block/min_tmp_reg_out/data_4" BEL
        "comparison_block/min_tmp_reg_out/data_3" BEL
        "comparison_block/min_tmp_reg_out/data_2" BEL
        "comparison_block/min_tmp_reg_out/data_1" BEL
        "comparison_block/min_tmp_reg_out/data_0" BEL
        "comparison_block/max_tmp_reg_out/data_8" BEL
        "comparison_block/max_tmp_reg_out/data_7" BEL
        "comparison_block/max_tmp_reg_out/data_6" BEL
        "comparison_block/max_tmp_reg_out/data_5" BEL
        "comparison_block/max_tmp_reg_out/data_4" BEL
        "comparison_block/max_tmp_reg_out/data_3" BEL
        "comparison_block/max_tmp_reg_out/data_2" BEL
        "comparison_block/max_tmp_reg_out/data_1" BEL
        "comparison_block/max_tmp_reg_out/data_0" BEL
        "comparison_block/min_tmp_reg_ind/data_8" BEL
        "comparison_block/min_tmp_reg_ind/data_7" BEL
        "comparison_block/min_tmp_reg_ind/data_6" BEL
        "comparison_block/min_tmp_reg_ind/data_5" BEL
        "comparison_block/min_tmp_reg_ind/data_4" BEL
        "comparison_block/min_tmp_reg_ind/data_3" BEL
        "comparison_block/min_tmp_reg_ind/data_2" BEL
        "comparison_block/min_tmp_reg_ind/data_1" BEL
        "comparison_block/min_tmp_reg_ind/data_0" BEL
        "comparison_block/max_tmp_reg_ind/data_8" BEL
        "comparison_block/max_tmp_reg_ind/data_7" BEL
        "comparison_block/max_tmp_reg_ind/data_6" BEL
        "comparison_block/max_tmp_reg_ind/data_5" BEL
        "comparison_block/max_tmp_reg_ind/data_4" BEL
        "comparison_block/max_tmp_reg_ind/data_3" BEL
        "comparison_block/max_tmp_reg_ind/data_2" BEL
        "comparison_block/max_tmp_reg_ind/data_1" BEL
        "comparison_block/max_tmp_reg_ind/data_0" BEL
        "comparison_block/curr_tmp_reg/data_8" BEL
        "comparison_block/curr_tmp_reg/data_7" BEL
        "comparison_block/curr_tmp_reg/data_6" BEL
        "comparison_block/curr_tmp_reg/data_5" BEL
        "comparison_block/curr_tmp_reg/data_4" BEL
        "comparison_block/curr_tmp_reg/data_3" BEL
        "comparison_block/curr_tmp_reg/data_2" BEL
        "comparison_block/curr_tmp_reg/data_1" BEL
        "comparison_block/curr_tmp_reg/data_0" BEL "cu/curr_state_FSM_FFd3_1"
        BEL "cu/curr_state_FSM_FFd2_1" BEL "lcd_enable";
TIMEGRP clk_gen_clkout0 = BEL "interface_lcd/clk_enable_unit/clk_enable" BEL
        "interface_lcd/clk_enable_unit/count_0" BEL
        "interface_lcd/clk_enable_unit/count_1" BEL
        "interface_lcd/clk_enable_unit/count_2" BEL
        "interface_lcd/clk_enable_unit/count_3" BEL
        "interface_lcd/clk_enable_unit/count_4" BEL
        "interface_lcd/clk_enable_unit/count_5" BEL
        "interface_lcd/clk_enable_unit/count_6" BEL
        "interface_lcd/clk_enable_unit/count_7" BEL
        "interface_lcd/clk_enable_unit/count_8" BEL
        "interface_lcd/clk_enable_unit/count_9" BEL
        "interface_lcd/clk_enable_unit/count_10" BEL
        "interface_lcd/clk_enable_unit/count_11" BEL
        "interface_lcd/clk_enable_unit/count_12" BEL
        "interface_lcd/clk_enable_unit/count_13" BEL "clk_gen/clkout1_buf" BEL
        "interface_tmp_sensor/state_FSM_FFd1" BEL
        "interface_tmp_sensor/state_FSM_FFd2" BEL
        "interface_tmp_sensor/state_FSM_FFd3" BEL
        "interface_tmp_sensor/state_FSM_FFd4" BEL
        "interface_tmp_sensor/cnt_wr_3" BEL "interface_tmp_sensor/cnt_wr_2"
        BEL "interface_tmp_sensor/cnt_wr_1" BEL
        "interface_tmp_sensor/cnt_wr_0" BEL "interface_tmp_sensor/cnt_add_3"
        BEL "interface_tmp_sensor/cnt_add_2" BEL
        "interface_tmp_sensor/cnt_add_1" BEL "interface_tmp_sensor/cnt_add_0"
        BEL "interface_tmp_sensor/cnt_rd_FSM_FFd2" BEL
        "interface_tmp_sensor/write_high_cnt_FSM_FFd1" BEL
        "interface_tmp_sensor/cnt_rd_FSM_FFd1" BEL
        "interface_tmp_sensor/write_high_cnt_FSM_FFd2" BEL
        "interface_tmp_sensor/write_flag_FSM_FFd1" BEL
        "interface_tmp_sensor/write_low_cnt_FSM_FFd1" BEL
        "interface_tmp_sensor/write_low_cnt_FSM_FFd2" BEL
        "interface_tmp_sensor/write_flag_FSM_FFd2" BEL
        "interface_tmp_sensor/led1" BEL "interface_tmp_sensor/dataout_8" BEL
        "interface_tmp_sensor/dataout_7" BEL "interface_tmp_sensor/dataout_6"
        BEL "interface_tmp_sensor/dataout_5" BEL
        "interface_tmp_sensor/dataout_4" BEL "interface_tmp_sensor/dataout_3"
        BEL "interface_tmp_sensor/dataout_2" BEL
        "interface_tmp_sensor/dataout_1" BEL "interface_tmp_sensor/dataout_0"
        BEL "interface_tmp_sensor/cnt_9" BEL "interface_tmp_sensor/cnt_8" BEL
        "interface_tmp_sensor/cnt_7" BEL "interface_tmp_sensor/cnt_6" BEL
        "interface_tmp_sensor/cnt_5" BEL "interface_tmp_sensor/cnt_4" BEL
        "interface_tmp_sensor/cnt_3" BEL "interface_tmp_sensor/cnt_2" BEL
        "interface_tmp_sensor/cnt_1" BEL "interface_tmp_sensor/cnt_0" BEL
        "interface_tmp_sensor/datatemp" BEL
        "interface_tmp_sensor/state[3]_clk_1us_DFF_94" BEL
        "interface_tmp_sensor/get_temp_cnt_3" BEL
        "interface_tmp_sensor/get_temp_cnt_2" BEL
        "interface_tmp_sensor/get_temp_cnt_1" BEL
        "interface_tmp_sensor/get_temp_cnt_0" BEL
        "interface_tmp_sensor/writetemp_6" BEL
        "interface_tmp_sensor/writetemp_4" BEL
        "interface_tmp_sensor/writetemp_3" BEL
        "interface_tmp_sensor/writetemp_2" BEL
        "interface_tmp_sensor/writetemp_1" BEL
        "interface_tmp_sensor/writetemp_0" BEL
        "interface_tmp_sensor/detect_done" BEL
        "interface_tmp_sensor/search_time" BEL "interface_tmp_sensor/dq" BEL
        "cu/curr_state_FSM_FFd1" BEL "cu/curr_state_FSM_FFd2" BEL
        "cu/curr_state_FSM_FFd3" BEL "cu/edge_detect_1" BEL "cu/edge_detect_0"
        BEL "cu/watch_dog/cnt_8" BEL "cu/watch_dog/cnt_7" BEL
        "cu/watch_dog/cnt_6" BEL "cu/watch_dog/cnt_5" BEL "cu/watch_dog/cnt_4"
        BEL "cu/watch_dog/cnt_3" BEL "cu/watch_dog/cnt_2" BEL
        "cu/watch_dog/cnt_1" BEL "cu/watch_dog/cnt_0" BEL "cu/watch_dog/tc"
        BEL "interface_lcd/translate_int/counter_select/cnt_2" BEL
        "interface_lcd/translate_int/counter_select/cnt_1" BEL
        "interface_lcd/translate_int/counter_select/cnt_0" BEL
        "interface_lcd/interface/init_count_1" BEL
        "interface_lcd/interface/init_count_0" BEL
        "interface_lcd/interface/state_FSM_FFd1" BEL
        "interface_lcd/interface/state_FSM_FFd2" BEL
        "interface_lcd/interface/state_FSM_FFd3" BEL
        "interface_lcd/interface/state_FSM_FFd4" BEL
        "interface_lcd/interface/RS" BEL "interface_lcd/interface/done" BEL
        "interface_lcd/interface/writing_counter_3" BEL
        "interface_lcd/interface/writing_counter_2" BEL
        "interface_lcd/interface/writing_counter_1" BEL
        "interface_lcd/interface/writing_counter_0" BEL
        "interface_lcd/interface/enable_translator" BEL
        "interface_lcd/interface/dataOUT_7" BEL
        "interface_lcd/interface/dataOUT_6" BEL
        "interface_lcd/interface/dataOUT_5" BEL
        "interface_lcd/interface/dataOUT_4" BEL
        "interface_lcd/interface/dataOUT_3" BEL
        "interface_lcd/interface/dataOUT_2" BEL
        "interface_lcd/interface/dataOUT_1" BEL
        "interface_lcd/interface/dataOUT_0" BEL
        "comparison_block/state_count/cnt" BEL
        "comparison_block/state_count/tc" BEL
        "comparison_block/min_tmp_reg_out/data_8" BEL
        "comparison_block/min_tmp_reg_out/data_7" BEL
        "comparison_block/min_tmp_reg_out/data_6" BEL
        "comparison_block/min_tmp_reg_out/data_5" BEL
        "comparison_block/min_tmp_reg_out/data_4" BEL
        "comparison_block/min_tmp_reg_out/data_3" BEL
        "comparison_block/min_tmp_reg_out/data_2" BEL
        "comparison_block/min_tmp_reg_out/data_1" BEL
        "comparison_block/min_tmp_reg_out/data_0" BEL
        "comparison_block/max_tmp_reg_out/data_8" BEL
        "comparison_block/max_tmp_reg_out/data_7" BEL
        "comparison_block/max_tmp_reg_out/data_6" BEL
        "comparison_block/max_tmp_reg_out/data_5" BEL
        "comparison_block/max_tmp_reg_out/data_4" BEL
        "comparison_block/max_tmp_reg_out/data_3" BEL
        "comparison_block/max_tmp_reg_out/data_2" BEL
        "comparison_block/max_tmp_reg_out/data_1" BEL
        "comparison_block/max_tmp_reg_out/data_0" BEL
        "comparison_block/min_tmp_reg_ind/data_8" BEL
        "comparison_block/min_tmp_reg_ind/data_7" BEL
        "comparison_block/min_tmp_reg_ind/data_6" BEL
        "comparison_block/min_tmp_reg_ind/data_5" BEL
        "comparison_block/min_tmp_reg_ind/data_4" BEL
        "comparison_block/min_tmp_reg_ind/data_3" BEL
        "comparison_block/min_tmp_reg_ind/data_2" BEL
        "comparison_block/min_tmp_reg_ind/data_1" BEL
        "comparison_block/min_tmp_reg_ind/data_0" BEL
        "comparison_block/max_tmp_reg_ind/data_8" BEL
        "comparison_block/max_tmp_reg_ind/data_7" BEL
        "comparison_block/max_tmp_reg_ind/data_6" BEL
        "comparison_block/max_tmp_reg_ind/data_5" BEL
        "comparison_block/max_tmp_reg_ind/data_4" BEL
        "comparison_block/max_tmp_reg_ind/data_3" BEL
        "comparison_block/max_tmp_reg_ind/data_2" BEL
        "comparison_block/max_tmp_reg_ind/data_1" BEL
        "comparison_block/max_tmp_reg_ind/data_0" BEL
        "comparison_block/curr_tmp_reg/data_8" BEL
        "comparison_block/curr_tmp_reg/data_7" BEL
        "comparison_block/curr_tmp_reg/data_6" BEL
        "comparison_block/curr_tmp_reg/data_5" BEL
        "comparison_block/curr_tmp_reg/data_4" BEL
        "comparison_block/curr_tmp_reg/data_3" BEL
        "comparison_block/curr_tmp_reg/data_2" BEL
        "comparison_block/curr_tmp_reg/data_1" BEL
        "comparison_block/curr_tmp_reg/data_0" BEL "cu/curr_state_FSM_FFd3_1"
        BEL "cu/curr_state_FSM_FFd2_1";
PIN clk_gen/mmcm_adv_inst_pins<2> = BEL "clk_gen/mmcm_adv_inst" PINNAME
        CLKIN1;
TIMEGRP main_clk = PIN "clk_gen/mmcm_adv_inst_pins<2>";
TIMEGRP cu/edge_detect<0> = BEL "cu/curr_state_FSM_FFd3" BEL "cu/in_out_val"
        BEL "cu/edge_detect_1" BEL "cu/curr_state_FSM_FFd3_1";
TIMEGRP cu/watch_dog/tc = BEL "cu/curr_state_FSM_FFd3" BEL "cu/in_out_val" BEL
        "cu/curr_state_FSM_FFd3_1";
TIMEGRP cu/edge_detect<1> = BEL "cu/curr_state_FSM_FFd3" BEL "cu/in_out_val"
        BEL "cu/curr_state_FSM_FFd3_1";
TS_main_clk = PERIOD TIMEGRP "main_clk" 10 ns HIGH 50%;
TS_clk_gen_clkout0 = PERIOD TIMEGRP "clk_gen_clkout0" TS_main_clk / 0.05 HIGH
        50%;
COMP "reset" OFFSET = IN 1000 ns VALID 1000 ns BEFORE COMP "main_clk"
        "RISING";
COMP "ind_outd_sw" OFFSET = IN 1000 ns VALID 1000 ns BEFORE COMP "main_clk"
        "RISING";
SCHEMATIC END;

